<div class="dashboard-container">

  <!-- Cabeçalho -->
  <div class="dashboard-header">
    <div>
      <h1>Dashboard de Projetos</h1>
      <p>Gira os seus projetos e acompanhe o progresso.</p>
    </div>

    <button class="btn-toggle" (click)="isModalOpen = !isModalOpen">
      {{ isModalOpen ? 'Fechar Formulário' : 'Novo Projeto' }}
    </button>
  </div>

  <!-- Formulário  -->
  @if(isModalOpen) {
  <div class="form-section">
    <app-project-form (submitSuccess)="handleCreateProject($event)" (cancel)="isModalOpen = false">
    </app-project-form>
  </div>
  }

  <!-- Lista de Projetos -->
  <div class="projects-list">
    @for (projectItem of projects; track projectItem.id) {
    <app-project-card [project]="projectItem" (projectDeleted)="handleDeleteProject($event)"></app-project-card>
    } @empty {
    <div class="empty-state">
      <p>Nenhum projeto criado. Clique em "Novo Projeto" para começar.</p>
    </div>
    }
  </div>

</div>