<div>
  
  <div >
    <div>
      <h1>Dashboard de Projetos</h1>
      <p>Gira os seus projetos, acompanhe o progresso e adicione novas tarefas.</p>
    </div>
    
    <button (click)="isModalOpen = true">Novo Projeto
    </button>

    @if(isModalOpen) {
        <div>
            <app-project-form (submitSuccess)="handleCreateProject($event)" (cancel)="isModalOpen = false"></app-project-form>
        </div>
    }
  </div>



  <div >
    @for (projectItem of projects; track projectItem.id) {
      <app-project-card [project]="projectItem"></app-project-card>
    } @empty {
      
      <div>
        <p>Ainda não existem projetos criados.</p>
        <p>Clique em "Novo Projeto" para começar.</p>
      </div>
    }
  </div>

</div>