<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div>
        <h2>Criar Novo Projeto</h2>
    </div>

    <div>
        <label for="projectName">Nome do Projeto</label>
        <input id="projectName" type="text" formControlName= "name" placeholder="Ex: Meu projeto">

        @if(projectForm.get('name')?.invalid && projectForm.get('name')?.touched){
            <div>
                @if (projectForm.get('name')?.errors?.['required']){
                    <span>O nome é obrigatório</span>
                }
                @if (projectForm.get('name')?.errors?.['minlengeth']){
                    <span>O nome deve ter pelo menos 3 caracteres.</span>
                }
            </div>
        }
    </div>

    <div>
        <label for="projectDescription">Descrição do Projeto</label>
        <textarea name="projectDescription" id="projectDescription" formControlName="description" rows="4" placeholder="Descreva o objetivo do seu projeto..."></textarea>

        @if(projectForm.get('description')?.invalid && projectForm.get('description')?.touched){
            <div>
                @if(projectForm.get('description')?.errors?.['required']){
                    <span>A descrição é obrigatória.</span>
                }
                @if(projectForm.get('description')?.errors?.['minlength']){
                    <span>Escreva uma descrição com pelo menos 4 caracteres</span>
                }
            </div>
        }
    </div>

    <div>
        <span>Tarefas do Projeto</span>
        <button type="button" (click)="addTask()">Adicionar tarefa</button>
    </div>

    <div formArrayName="task">
        @for (taskGroup of taskArray.controls; track $index){
            <div [formGroupName]="$index">
                
                <div>
                    <label  [attr.for]="'task-title-' + $index">Título da Tarefa</label>
                    <input [id]="'task-title-' + $index" type="text" formControlName="title" placeholder="Ex: Criar rotas API" />
                </div>

                <div>
                    <label [attr.for]="'task-desc' + $index">Descrição da tarefa</label>
                    <textarea [id]="'task-desc' + $index" formControlName="description" rows="2" placeholder="Descreva a tarefa"></textarea>
                </div>

                <div>
                    <label [attr.for]="'task-date' + $index">Data Limite</label>
                    <input type="date" [id]="'task-date' + $index" formControlName="dueDate">
                </div>

                <div>
                    <label [attr.for]="'task.status-' + $index">Estado</label>
                    <select [id]="'task-status-' + $index" formControlName="status-">
                        <option value="pendente">Pedente</option>
                        <option value="em progresso">Em Progresso</option>
                        <option value="concluída">Concluída</option>
                    </select>
                </div>

                <button type="button" (click)="removeTask($index)">Remover</button>
            </div>
        } @empty {
            <p>Nenhuma tarefa adicionada.</p>
        }
    </div>

    <div>
        <button type="button" (click)="cancel.emit()">Cancelar</button>
        <button type="submit" [disabled]="projectForm.invalid">Criar Projeto</button>
    </div>
</form>
