<div>
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    <div>
        <span>
            Tarefas: {{ completedTasks }}/{{ totalTasks }}
        </span>
        <span>
            {{ progressPercentage }}%
        </span>
    </div>

</div>

<!-- Secção da Lista de Tarefas -->
<div>
    <h4>Lista de Tarefas:</h4>
    <div>
        @for (t of project.task; track t.id) {
        <div>
            <input type="checkbox" [checked]="t.status === 'concluída'" (change)="toggleTaskStatus(t)">
            <span [style.text-decoration]="t.status === 'concluída' ? 'line-through' : 'none'">
                {{ t.title }}
            </span>


            <div>
                <p>Descrição: {{ t.description }}</p>
                <p>Data Limite: {{ t.dueDate }}</p>
                <p>Estado Atual: <strong>{{ t.status }}</strong></p>
            </div>
        </div>

        <button type="button" (click)="deleteTaskFromProject(t.id)">
            Remover Tarefa
        </button>

        } @empty {
        <p>Sem tarefas associadas ao Projeto.</p>
        }
    </div>


    <div>
        <div>
            <label [attr.for]="'new-title-' + project.id">Título:</label>
            <input #newTitle [id]="'new-title-' + project.id" type="text" />
        </div>

        <div>
            <label [attr.for]="'new-desc-' + project.id">Descrição:</label>
            <textarea #newDesc [id]="'new-desc-' + project.id"></textarea>
        </div>

        <div>
            <label [attr.for]="'new-date-' + project.id">Data Limite:</label>

            <input #newDate [id]="'new-date-' + project.id" type="date" />
        </div>

        <button type="button" (click)="addNewTaskToProject(newTitle, newDesc, newDate)">
            Adicionar tarefa
        </button>
    </div>
</div>
<button type="button" (click)="removeProject()">
    Eliminar Projeto
</button>